/* highlight-color */

.highlight-red {
  background-color: #9E5B5B !important;
  border-left: 3px solid lighten($color: #9E5B5B, $amount: 20%) !important;
  border-radius: 2px !important;
}

.highlight-black {
  background-color: #353535 !important;
  border-left: 3px solid lighten($color: #353535, $amount: 20%) !important;
  border-radius: 2px !important;
}

/* highlight-pencel-color */

.highlight-pencel-red {
  text-shadow: 0px 0px 16px #ff0000 !important;
}

.highlight-pencel-black {
    text-shadow: 0px 0px 16px black !important;
  }

.highlight-pencel-mint {
  text-shadow: 0px 0px 16px #00ffd2 !important;
}

/* pen-color */

.pen-red {
  color: #CE9178 !important;
}

.pen-blue {
  color: #569CD6 !important;
}

.pen-notice-black {
  color: #343434 !important;
}

/* font-style */

.pen-bold {
  font-weight: bold !important;
}

.pen-small {
  font-size: small !important;
}

/* border */

.border-outset {
  border: outset !important;
  border-color: $border-color !important;
}

/* cyberpunk 2077 UI style */

.cyberpunk-red {
  --text-color: 245, 93, 80 !important;
  color: rgb(var(--text-color)) !important;
  // text-shadow: 2px 1px 0px rgba(var(--text-color), 0.3), 4px 2px 0px rgba(var(--text-color), 0.3) !important;
}

.cyberpunk-cyan {
  --text-color: 100, 255, 255 !important;
  color: rgb(var(--text-color)) !important;
  // text-shadow: 2px 1px 0px rgba(var(--text-color), 0.3), 4px 2px 0px rgba(var(--text-color), 0.3) !important;
}

.cyberpunk-yellow {
  --text-color: 255, 240, 0 !important;
  color: rgb(var(--text-color)) !important;
  // text-shadow: 2px 1px 0px rgba(var(--text-color), 0.3), 4px 2px 0px rgba(var(--text-color), 0.3) !important;
}

.cyberpunk-violet {
  --text-color: 151, 152, 235 !important;
  color: rgb(var(--text-color)) !important;
  // text-shadow: 2px 1px 0px rgba(var(--text-color), 0.3), 4px 2px 0px rgba(var(--text-color), 0.3) !important;
}

.cyberpunk-blue {
  --text-color: 117, 155, 255 !important;
  color: rgb(var(--text-color)) !important;
  // text-shadow: 2px 1px 0px rgba(var(--text-color), 0.3), 4px 2px 0px rgba(var(--text-color), 0.3) !important;
}

.cyberpunk-lightgreen {
  --text-color: 223, 245, 98 !important;
  color: rgb(var(--text-color)) !important;
  // text-shadow: 2px 1px 0px rgba(var(--text-color), 0.3), 4px 2px 0px rgba(var(--text-color), 0.3) !important;
}

.cyberpunk-grey {
  --text-color: 190, 190, 190 !important;
  color: rgb(var(--text-color)) !important;
  // text-shadow: 2px 1px 0px rgba(var(--text-color), 0.3), 4px 2px 0px rgba(var(--text-color), 0.3) !important;
}

.cyberpunk-bg {
  // background-color: #06090e !important;
  padding: 16px !important;
}

.cyberpunk-bg-grey {
  // background-color: #343434 !important;
  padding: 16px !important;
}

.cyberpunk-hr {
  background-color: rgb(49, 250, 255) !important;
  border-color: rgb(49, 250, 255) !important;
}

/* button type */

.block-darkgrey {
  padding: 0.1em 0.7em !important;
  font-size: .75em !important;
  font-weight: bold !important;
  border-radius: 4px !important;
  color: white !important;
  background-color: #343434 !important;
}

.block-lightgreen {
  padding: 0.1em 0.7em !important;
  font-size: .75em !important;
  font-weight: bold !important;
  border-radius: 4px !important;
  color: black !important;
  background-color: #bfdd67 !important;
}

/* VS2019 Dark Theme */

.color-comment {color: #6A9955 !important;} // 주석
.color-keyword {color: #569CD6 !important;} // 키워드 (void, public, private)
.color-string {color: #CE9178 !important;} // 문자열
.color-function {color: #DCDCAA !important;} // 함수, 메서드
.color-class {color: #4EC9B0 !important;} // 사용자 정의 클래스
.color-number {color: #B5CEA8 !important;} // 숫자 (3.14f)
.color-variable {color: #9CDCFE !important;} // 지역 변수
.color-interface {color: #B8D7A3 !important;} // 인터페이스 (enum, struct)
.color-control {color: #C586C0 !important;} // 제어 (if, return)

/* Roblox Studio Script Theme */

.RSST-KEYWORD {color: #eb7973 !important;}
.RSST-CLASS {color: #70a0ff !important;}
.RSST-STRING {color: #8ee9b6 !important;}
.RSST-FUNCTION {color: #fae4aa !important;}
.RSST-VALUE {color: #f2ba2a !important; font-weight: bold !important;}

/* custom list style */

.ul-1::before {content: "• ";}
.ul-1 {margin-left: 0.7em; display: inline-block; text-indent: -0.8em;}
.ul-2::before {content: "⁃ ";}
.ul-2 {margin-left: 1.5em; display: inline-block; text-indent: -0.7em;}
.ol-1 {margin-left: 0.7em; display: inline-block; text-indent: -0.8em;}
.ol-2 {margin-left: 1.5em; display: inline-block; text-indent: -0.7em;}

/* summary custom */

.summary-custom {font-size: 16px; margin-bottom: 0.5em;}